<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
    <title>Seagull Dynamics</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
  <body>

    <h1>Welcome to Seagull BnB</h1>
    <h3>Registered Trademark of Seagull Dynamics</h3>

    <a href="/listings">Listings</a>


  </body>
</html>
