<!DOCTYPE html>
<ul>
  <form action="/listings/new" method="get">
   <input type="submit" value="Create new listing" />
  </form>
  <% @listings.each do |listing| %>
    <li class="listing_name">
      <%= listing.name %>
      <br><br>
      <%= listing.description %>
    </li>
  <% end %>
</ul>
