<!DOCTYPE html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
  <title>Seagull Dynamics</title>
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<nav>
  <form action="/listings/new" method="get">
   <input id="button" type="submit" value="Create new listing" />
  </form>
</nav>

<ul>
  <% @listings.each do |listing| %>
    <li class="listing_name">
      <%= listing.name %>
      <br><br>
      <%= listing.description %>
    </li>
  <% end %>
</ul>
