<head>
  <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
  <title>Seagull Dynamics</title>
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<form action="/listings" method="post">
  <input type="text" name="name" placeholder="property name" />
  <input type="textarea" name="description" placeholder="description" />
  <input type="submit" value="Submit" />
</form>
