<form action="/listings" method="post">
  <input type="text" name="name" placeholder="property name" />
  <input type="textarea" name="description" placeholder="description" />
  <input type="submit" value="Submit" />
</form>
